---
import '../styles/global.css';

import LoginPopup from '../components/AuthenticationFlow/LoginPopup.astro';
import Authenticator from '../components/Authenticator/Authenticator.astro';
import { CommandMenu } from '../components/CommandMenu/CommandMenu';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation/Navigation.astro';
import OpenSourceBanner from '../components/OpenSourceBanner.astro';
import { PageProgress } from '../components/PageProgress';
import { PageVisit } from '../components/PageVisit/PageVisit';
import { CourseAnnouncement } from '../components/SQLCourse/CourseAnnouncement';
import { Toaster } from '../components/Toast';
import { siteConfig } from '../lib/config';
import type { ResourceType } from '../lib/resource-progress';
import { cn } from '../lib/classname';
import { GlobalUpgradeModal } from '../components/Billing/GlobalUpgradeModal';

export interface Props {
  title: string;
  ogImageUrl?: string;
  htmlClassName?: string;
  bodyClassName?: string;
  // This isn't used anywhere except for the sponsor event labels
  briefTitle?: string;
  redirectUrl?: string;
  description?: string;
  keywords?: string[];
  noIndex?: boolean;
  canonicalUrl?: string;
  initialLoadingMessage?: string;
  permalink?: string;
  jsonLd?: Record<string, unknown>[];
  resourceId?: string;
  resourceType?: ResourceType;
}

const {
  title = siteConfig.title,
  htmlClassName,
  bodyClassName,
  briefTitle,
  description = siteConfig.description,
  ogImageUrl = 'https://roadmap.vlsi.kr/img/og-img.png',
  keywords = siteConfig.keywords,
  noIndex = false,
  permalink = '',
  canonicalUrl: givenCanonical = '',
  jsonLd = [],
  redirectUrl = '',
  initialLoadingMessage = '',
  resourceId,
  resourceType,
} = Astro.props;

// Remove trailing slashes to consider the page as canonical
const currentPageAbsoluteUrl = `https://roadmap.vlsi.kr${permalink}`;
const canonicalUrl = givenCanonical || currentPageAbsoluteUrl;
const commitUrl = `https://github.com/nilbuild/developer-roadmap/commit/${
  import.meta.env.GITHUB_SHA
}`;
---

<!doctype html>
<html lang='en' class={htmlClassName}>
  <head>
    <meta charset='UTF-8' />
    <meta name='generator' content={Astro.generator} />
    <meta name='commit' content={commitUrl} />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='keywords' content={keywords.join(', ')} />
    {
      redirectUrl && (
        <meta http-equiv='refresh' content={`1;url=${redirectUrl}`} />
      )
    }
    {noIndex && <meta name='robots' content='noindex' />}
    <meta
      name='viewport'
      content='width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0'
    />
    <meta http-equiv='Content-Language' content='en' />

    <meta name='twitter:card' content='summary_large_image' />

    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='630' />
    <meta
      property='og:image'
      content={ogImageUrl || 'https://roadmap.vlsi.kr/img/og-img.png'}
    />
    <meta property='og:image:alt' content='VLSI Korea Roadmaps' />
    <meta property='og:site_name' content='VLSI Korea Roadmaps' />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:type' content='website' />
    <meta property='og:url' content={currentPageAbsoluteUrl} />

    <link rel='canonical' href={canonicalUrl} />

    <meta name='mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta
      name='apple-mobile-web-app-status-bar-style'
      content='black-translucent'
    />
    <meta name='apple-mobile-web-app-title' content='VLSI Roadmaps' />
    <meta name='application-name' content='VLSI Roadmaps' />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/manifest/apple-touch-icon.png'
    />
    <meta name='msapplication-TileColor' content='#0f172a' />
    <meta name='theme-color' content='#0f172a' />

    <link rel='manifest' href='/manifest/manifest.json' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/manifest/icon32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/manifest/icon16.png'
    />
    <link
      rel='shortcut icon'
      href='/manifest/favicon.ico'
      type='image/x-icon'
    />

    <slot name='after-header' />
    {
      jsonLd.length > 0 && (
        <script type='application/ld+json' set:html={JSON.stringify(jsonLd)} />
      )
    }
  </head>
  <body class={cn('flex min-h-screen flex-col', bodyClassName)}>
    <slot name='course-announcement'>
      <CourseAnnouncement client:load />
    </slot>
    <slot name='page-header'>
      <Navigation />
    </slot>

    <slot />

    <slot name='page-footer'>
      <slot name='changelog-banner' />
      <slot name='open-source-banner'>
        <OpenSourceBanner />
      </slot>
      <Footer />
    </slot>

    <Authenticator />
    <slot name='login-popup'>
      <LoginPopup />
    </slot>

    <Toaster client:only='react' />
    <CommandMenu client:idle />
    <PageProgress initialMessage={initialLoadingMessage} client:idle />
    <GlobalUpgradeModal client:only='react' />

    <slot name='after-footer' />

    <PageVisit
      resourceId={resourceId}
      resourceType={resourceType}
      client:load
    />
  </body>
</html>
